/* Pagination container */
.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: left;
}

/* Pagination item */
.pageItem {
  margin: 0 1px;
}

/* Active pagination item */
.pageItemActive {
  margin: 0 4px;
  font-weight: bold;
}

/* Active pagination link */
.pageItemActive .pageLink {
  color: white;
  background-color: blue;
}

/* Pagination link */
.pageLink {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
